
/* tags */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

h1{
    text-align: center;
}

li {
    color: blue;
    text-decoration: underline;
}

ul {
    border: 5px solid black;
}

h1,
span {
    color: aqua;
}

/* IDs */
#navbar{
    background-color: aquamarine;
    color: cadetblue;
}

/* Classes  */
.produtoDestaque{
    font-size: 20px;
    background-color: cadetblue;
    color: chartreuse;
}

